.currentNews {
    .news__item {
        width: 500px;
        height: 425px;
        margin: 0 auto;
        margin-top: 50px;
        background-color: #aeb3ff;
        border-radius: 5%;
        $self: &;

        &-info {
            padding: 15px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            &-top {
                .news__item-imgPic {
                    width: 100%;
                    height: 295px;
                }
                #{$self}-category {
                    font-size: 15px;
                    font-weight: 300;
                    margin-bottom: 5px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
                #{$self}-title {
                    font-size: 18px;
                    font-weight: 500;
                    margin-top: 5px;
                    margin-bottom: 5px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
                #{$self}-description {
                    color: #5a5a5a;
                    height: 20px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
            }
            &-bottom {
                display: flex;
                margin-top: 10px;
                flex-flow: wrap;
                justify-content: space-between;

                #{$self}-avatarUser {
                    width: 30px;
                    height: 30px;
                    .avatar {
                        line-height: 30px;
                        font-size: 15px;
                    }
                }
                #{$self}-userInfo {
                    display: flex;
                    justify-content: space-between;
                    color: #545454;
                    flex-flow: column;
                    margin-left: -120px;
                    font-weight: 400;
                    width: 30%;
                    span {
                        margin-bottom: 7px;
                    }
                }
                #{$self}-actionButtons {
                    div {
                        display: flex;
                        flex-direction: column;
                        button {
                            margin: 3px 0;
                        }
                    }
                }
            }
        }
    }
    .news__item:hover {
        transition: all 0.5s ease-out;
        background-color: #83abfe;
    }
}
